
HOME			= .
RANDFILE		= $ENV::HOME/.rnd

[ ca ]
default_ca		= CA_default

[ CA_default ]
dir			= /etc/openxpki/local/keys/kriptoca/.openssl
certs			= /etc/openxpki/local/keys/kriptoca/.openssl/certs
crl_dir			= /etc/openxpki/local/keys/kriptoca/.openssl/
database		= /etc/openxpki/local/keys/kriptoca/.openssl/index.txt
new_certs_dir		= /etc/openxpki/local/keys/kriptoca/.openssl/
serial			= /etc/openxpki/local/keys/kriptoca/.openssl/serial
crlnumber		= /etc/openxpki/local/keys/kriptoca/.openssl/crlnumber

crl			= /etc/openxpki/local/keys/kriptoca/.openssl/crl.pem
private_key		= /etc/openxpki/local/keys/kriptoca/.openssl/cakey.pem
RANDFILE		= /etc/openxpki/local/keys/kriptoca/.openssl/.rand

default_md		= sha256
preserve		= no
policy			= policy_none
default_days		= 730

# x509_extensions               = v3_ca_extensions
# x509_extensions               = v3_issuing_extensions
# x509_extensions               = v3_datavault_extensions
# x509_extensions               = v3_scep_extensions
# x509_extensions               = v3_web_extensions

[policy_none]
countryName             = optional
organizationName        = optional
domainComponent		= optional
organizationalUnitName	= optional
commonName		= supplied

[ req ]
default_bits		= 3072
distinguished_name	= req_distinguished_name

# x509_extensions               = v3_ca_reqexts # not for root self signed, only for issuing
## x509_extensions              = v3_datavault_reqexts # not required self signed
# x509_extensions               = v3_scep_reqexts
# x509_extensions               = v3_web_reqexts

[ req_distinguished_name ]
domainComponent		= Domain Component
commonName		= Common Name

[ v3_ca_reqexts ]
subjectKeyIdentifier    = hash
keyUsage                = digitalSignature, keyCertSign, cRLSign

[ v3_datavault_reqexts ]
subjectKeyIdentifier    = hash
keyUsage                = keyEncipherment
extendedKeyUsage        = emailProtection

[ v3_scep_reqexts ]
subjectKeyIdentifier    = hash

[ v3_web_reqexts ]
subjectKeyIdentifier    = hash
keyUsage                = critical, digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth, clientAuth


[ v3_ca_extensions ]
subjectKeyIdentifier    = hash
keyUsage                = digitalSignature, keyCertSign, cRLSign
basicConstraints        = critical,CA:TRUE
authorityKeyIdentifier  = keyid:always,issuer

[ v3_issuing_extensions ]
subjectKeyIdentifier    = hash
keyUsage                = digitalSignature, keyCertSign, cRLSign
basicConstraints        = critical,CA:TRUE
authorityKeyIdentifier  = keyid:always,issuer:always
#crlDistributionPoints	= 
#authorityInfoAccess	= caIssuers;

[ v3_datavault_extensions ]
subjectKeyIdentifier    = hash
keyUsage                = keyEncipherment
extendedKeyUsage        = emailProtection
basicConstraints        = CA:FALSE
authorityKeyIdentifier  = keyid:always,issuer

[ v3_scep_extensions ]
subjectKeyIdentifier    = hash
keyUsage                = digitalSignature, keyEncipherment
basicConstraints        = CA:FALSE
authorityKeyIdentifier  = keyid,issuer

[ v3_web_extensions ]
subjectKeyIdentifier    = hash
keyUsage                = critical, digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth, clientAuth
basicConstraints        = critical,CA:FALSE
subjectAltName		= DNS:openxpki-its.jhr.my.id
#crlDistributionPoints	= 
#authorityInfoAccess	= caIssuers;

